[include maxez_mainsail_core.cfg]
[include maxez_qidi_macros.cfg]
[include qidi_print_start_production.cfg]
[include plr.cfg]
# Qidi Box files are intentionally disabled until Python-3.13-compatible
# Qidi Box Klipper extras are available. The legacy Qidi Box binaries from older Plus 4 images are Python 3.7 only.
#[include box.cfg]
#[include codex_qidi_box_live_candidate.cfg]
#[include qidi_box_humidity_auto.cfg]
# Optional on this fresh Pi; enable after adding a matching KlipperScreen config.
#[include KlipperScreen.conf]
# LDO Smart Orbiter SO3 is removed for the Nebula + EBB42 Gen2 toolhead.
#[include SO3.cfg]
# Legacy Qidi/SO3 macros are disabled until rewritten for the Nebula toolhead.
#[include Macros.cfg]

[save_variables]
filename: /home/pi/printer_data/config/saved_variables.cfg

# Motor-1
[stepper_x]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
microsteps: 32
rotation_distance: 38.82
endstop_pin: tmc2130_stepper_x:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: False
position_endstop: -1.5
position_min: -1.5
position_max: 307

# Motor-2
[stepper_y]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
microsteps: 32
rotation_distance: 38.82
endstop_pin: tmc2130_stepper_y:virtual_endstop
homing_speed: 50
homing_retract_dist: 0
homing_positive_dir: False
position_endstop: -2
position_min: -2
position_max: 325

# Motor-3
[stepper_z]
step_pin: PE1
dir_pin: PE0
enable_pin: !PE2
microsteps: 128
rotation_distance: 4
endstop_pin:  probe:z_virtual_endstop # use beacon as virtual endstop
# Legacy/nonstandard option; Beacon provides the active Z virtual endstop.
#endstop_pin_reverse:tmc2130_stepper_z:virtual_endstop
homing_retract_dist: 0 # beacon needs this to be set to 0
homing_speed: 10
#position_endstop: 1
position_max: 285
position_min: -4

# Motor-4
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
[stepper_z1]
step_pin: PB8
dir_pin: PB9
enable_pin: PB7
endstop_pin:  probe:z_virtual_endstop # use beacon as virtual endstop
microsteps: 128
rotation_distance: 4
# Legacy/nonstandard option; Beacon provides the active Z virtual endstop.
#endstop_pin_reverse:tmc2130_stepper_z:virtual_endstop

#[filament_switch_sensor material_0]
#switch_pin: PF1
  
#[filament_switch_sensor material_1]
#switch_pin: PC15



[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type:NTC 100K MGB18-104F39050L32
control: pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125
pwm_cycle_time:0.001
min_temp: 0
max_temp: 130

[heater_fan hotend_fan]
# Hotend cooling remains on the Max EZ harness; no fan pins are assigned to the EBB42 Gen2.
pin: PC2 #Fan 6
# SO3 tachometer removed with the LDO Smart Orbiter.
heater: extruder
#cycle_time: 0.0001 #10KHz PWM frecvency, do not change this!
heater_temp: 50.0
fan_speed: 1.0
hardware_pwm: false
shutdown_speed: 0.0
max_power: 1.0

#[auxiliary_part_cooling_fan]
[fan_generic auxiliary_cooling_fan]
pin: PA4
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

  
#[chamber_circulation_fan]
[fan_generic chamber_circulation_fan]
pin: PA3
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

  
[mcu]
serial: /dev/serial/by-id/<max-ez-main-mcu>

########################################
# Nebula + EBB42 Gen2 toolhead
########################################

[mcu EBB]
# Replace this with the actual flashed EBB42 Gen2 USB serial path or use canbus_uuid.
serial: /dev/serial/by-id/<ebb42-gen2-mcu>
#canbus_uuid: <replace-with-ebb42-gen2-canbus-uuid>

[temperature_sensor EBB42]
sensor_type: Generic 3950
sensor_pin: EBB:PA0
pullup_resistor: 2200
min_temp: 0
max_temp: 100

[extruder]
step_pin: EBB:PD3
dir_pin: EBB:PD2
enable_pin: !EBB:PB6
microsteps: 16
rotation_distance: 51.75
gear_ratio: 11.25:1
max_extrude_only_distance: 200.0
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB:PB0
sensor_pin: EBB:PA1
pullup_resistor: 2200
# Slice RTD Pt1000 verified on the live Max EZ Mosquito hotend.
sensor_type: PT1000
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 315

[tmc2209 extruder]
uart_pin: EBB:PB3
run_current: 0.650
stealthchop_threshold: 999999

# No fans are assigned to the EBB42 Gen2 per this build. Leave FAN0/FAN1/FAN2 unused.
# Optional Nebula wiring stubs if you connect them to the EBB42 Gen2 switch/RGB ports:
#[filament_switch_sensor nebula_filament]
#switch_pin: ^EBB:PA3
#pause_on_runout: True
#
#[gcode_button nebula_button]
#pin: ^!EBB:PA2
#release_gcode:
#    {% if printer.print_stats.state != "printing" %}
#        NEBULA_UNLOAD_FILAMENT
#    {% endif %}
#
#[neopixel nebula_neopixel]
#pin: EBB:PB14
#chain_count: 2
#color_order: GRB
#initial_RED: 1.0
#initial_GREEN: 1.0
#initial_BLUE: 1.0

[printer]
kinematics:corexy
max_velocity: 600
max_accel: 20000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 8

########################################
# TMC2130 configuration
########################################

[tmc2130 stepper_x]
cs_pin: PG14
spi_bus: spi4
diag1_pin: ^!PF0
driver_SGT: 0
run_current: 1.07
hold_current: 0.5
stealthchop_threshold: 0

[tmc2130 stepper_y]
cs_pin: PG13
spi_bus: spi4
diag1_pin: ^!PF2
driver_SGT: 0
run_current: 1.07
hold_current: 0.5
stealthchop_threshold: 0

[tmc2130 stepper_z]
cs_pin: PG12
spi_bus: spi4
diag1_pin: PF4
run_current: 1.07
hold_current: 0.17
stealthchop_threshold: 999999

[tmc2130 stepper_z1]
cs_pin: PG11
spi_bus: spi4
diag1_pin: PF3
run_current: 1.07
hold_current: 0.17
stealthchop_threshold: 999999

[bed_screws]
screw1:25,21
screw1_name: Front left
screw2: 285,21
screw2_name: Front right
screw3: 285,281
screw3_name: Last right
screw4: 25,281

#[screws_tilt_adjust]
#screw_thread: CW-M4

[z_tilt]
z_positions:
    -17.5,138.5
    335.7,138.5
    
points:
    0,138.5
    255,138.5
    
speed: 150
horizontal_move_z: 5
retries: 2
retry_tolerance: 0.05

[heater_generic chamber]
heater_pin:PA5
max_power:1.0
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:PC5

control = pid
pid_Kp=63.418 
pid_Ki=1.342 
pid_Kd=749.125

min_temp:-100
max_temp:90
#target_min_temp:45
#target_max_temp:65
#heat_with_heater_bed:True
#heat_with_heater_bed_tem_add:25

[verify_heater chamber]
max_error: 400
check_gain_time:600
hysteresis: 5
heating_gain: 2
#position_z: 270

[heater_fan Chamber_Heat]
pin:PA6
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater:chamber
fan_speed: 1.0
off_below: 0
#idle_timeout:60
#idle_speed:1.0

  
[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG2, EXP1_2=PD15,
    EXP1_3=PD14, EXP1_4=PD13,
    EXP1_5=PD12, EXP1_6=PD11,
    EXP1_7=PD10, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,
    
    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG5, EXP2_4=PE11,
    EXP2_5=PG4, EXP2_6=PE14,
    EXP2_7=PG3, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
    
    
    #[output_pin Chamber_Light]
    #pin: PC7
    
    #[output_pin pf12_pin]
    #pin: PF12
    
    #[neopixel my_neopixel_1]
    #pin: PE10
    
    #[neopixel my_neopixel_2]
    #pin: PE9
    
    #[hall_filament_width_sensor]
    #adc1: PC0
    #adc2: PF10
    
    
[beacon]
serial: /dev/serial/by-id/<beacon-probe>
x_offset: -20
y_offset: 0
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 315
home_xy_position: 107.5, 90
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_y_before_x: True
home_method: contact
home_method_when_homed: proximity
home_autocalibrate: unhomed
home_gcode_pre_x: _BEACON_HOME_PRE_X
home_gcode_post_x: _BEACON_HOME_POST_X
home_gcode_pre_y: _BEACON_HOME_PRE_Y
home_gcode_post_y: _BEACON_HOME_POST_Y
contact_activate_gcode: _BEACON_CONTACT_PRE_Z
contact_deactivate_gcode: _BEACON_CONTACT_POST_Z
contact_sensitivity: 1
contact_latency_min: 3

#[safe_z_home]
# Beacon contact homing owns the Z-safe-home flow on this Max EZ build.
#home_xy_position: 107.5, 90
#z_hop: 3

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 240, 240
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic

[resonance_tester]
accel_chip: beacon  # Only this accelerometer
probe_points: 90, 90, 20
# Optional Obico include; enable only if Obico is installed on this Pi.
#[include moonraker_obico_macros.cfg]
