# Optional Nebula RGB, filament, and unload-button controls for the Max EZ
# EBB42 Gen2 build. This file is not included by default.
#
# Wire Nebula 5V/GND/RGB to the EBB RGB header, Nebula FS to the EBB FIL signal
# EBB:PA3, and Nebula GB to the EBB ENDSTOP signal EBB:PA2.

[gcode_macro _NEBULA_VARIABLE]
variable_unload_purge_distance: 35
variable_unload_purge_speed: 300
variable_unload_distance: 120
variable_unload_speed: 3000
variable_load_distance: 40
variable_load_speed: 1500
variable_load_purge_distance: 70
variable_load_purge_speed: 300
gcode:

[gcode_macro NEBULA_UNLOAD_FILAMENT]
gcode:
    {% set nebula = printer['gcode_macro _NEBULA_VARIABLE'] %}
    SAVE_GCODE_STATE NAME=nebula_unload_state
    G91
    G92 E0
    M118 Nebula unload purging
    G1 E{nebula.unload_purge_distance} F{nebula.unload_purge_speed}
    M400
    M118 Nebula unloading
    G1 E-{nebula.unload_distance} F{nebula.unload_speed}
    M400
    RESTORE_GCODE_STATE NAME=nebula_unload_state

[gcode_macro NEBULA_LOAD_FILAMENT]
gcode:
    {% set nebula = printer['gcode_macro _NEBULA_VARIABLE'] %}
    SAVE_GCODE_STATE NAME=nebula_load_state
    G91
    G92 E0
    M118 Nebula loading
    G1 E{nebula.load_distance} F{nebula.load_speed}
    M400
    M118 Nebula load purging
    G1 E{nebula.load_purge_distance} F{nebula.load_purge_speed}
    M400
    RESTORE_GCODE_STATE NAME=nebula_load_state

[neopixel nebula_neopixel]
pin: EBB:PB14
chain_count: 2
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0

[gcode_button nebula_unload_button]
pin: ^!EBB:PA2
debounce_delay: 0.02
press_gcode:
release_gcode:
    {% if printer.print_stats.state != "printing" %}
        {% if printer["gcode_button nebula_filament_sensor"].state == "RELEASED" %}
            NEBULA_UNLOAD_FILAMENT
        {% endif %}
    {% endif %}

[gcode_button nebula_filament_sensor]
pin: ^EBB:PA3
debounce_delay: 0.5
press_gcode:
    {% if printer.print_stats.state == "printing" %}
        PAUSE
    {% endif %}
release_gcode:
    {% if printer.print_stats.state != "printing" %}
        NEBULA_LOAD_FILAMENT
    {% endif %}
