[gcode_shell_command POWER_LOSS_RESUME]
command: bash /home/mks/scripts/plr/plr.sh
timeout: 120

[gcode_shell_command UPDATE_GCODE_LINES]
command: bash /home/mks/scripts/plr/update_gcode_lines.sh

[gcode_shell_command SYNC]
command: sync
timeout: 2

[gcode_macro _QIDI_PLR_CAPTURE_STATE]
description: Persist the current print state for Qidi power-loss recovery
gcode:
    {% set filepath = printer.virtual_sdcard.file_path|string %}
    {% if filepath == "None" %}
        {% set filepath = "" %}
    {% endif %}
    {% set filename = filepath.split('/') %}
    {% if filepath != "" %}
        SAVE_VARIABLE VARIABLE=last_file VALUE='"{ filename[-1] }"'
        SAVE_VARIABLE VARIABLE=filepath VALUE='"{ filepath }"'
        SAVE_VARIABLE VARIABLE=plr_file_position VALUE={printer.virtual_sdcard.file_position|default(0)|int}
    {% endif %}
    {% if params.LAYER is defined %}
        SAVE_VARIABLE VARIABLE=plr_current_layer VALUE={params.LAYER|int}
    {% endif %}
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE={printer.gcode_move.gcode_position.z|float}

[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
description: Capture PLR state on layer updates, then forward to Klipper
gcode:
    SET_PRINT_STATS_INFO_BASE {% for p in params %}{'%s=%s ' % (p, params[p])}{% endfor %}
    {% if params.CURRENT_LAYER is defined %}
        _QIDI_PLR_CAPTURE_STATE LAYER={params.CURRENT_LAYER}
    {% endif %}

[gcode_macro save_last_file]
gcode:
    _QIDI_PLR_CAPTURE_STATE
    {% set filepath = printer.virtual_sdcard.file_path|string %}
    {% if filepath == "None" %}
        {% set filepath = "" %}
    {% endif %}
    {% set filename = filepath.split('/') %}
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True
    SAVE_VARIABLE VARIABLE=print_temp VALUE={printer.extruder.target}
    SAVE_VARIABLE VARIABLE=bed_temp VALUE={printer['heater_bed'].target}
    {% if printer["heater_generic chamber"] is defined %}
        SAVE_VARIABLE VARIABLE=hot_temp VALUE={printer['heater_generic chamber'].target}
    {% else %}
        SAVE_VARIABLE VARIABLE=hot_temp VALUE=0
    {% endif %}
    M118 Last File: { filename[-1] }
    M117 Last File: { filename[-1] }
    RUN_SHELL_COMMAND CMD=SYNC
    G4 P2000

[gcode_macro CLEAR_LAST_FILE]
gcode:
    SAVE_VARIABLE VARIABLE=last_file VALUE='""'
    SAVE_VARIABLE VARIABLE=filepath VALUE='""'
    SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    SAVE_VARIABLE VARIABLE=gcode_lines VALUE=0
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE=0
    SAVE_VARIABLE VARIABLE=plr_current_layer VALUE=0
    SAVE_VARIABLE VARIABLE=plr_file_position VALUE=0
    RUN_SHELL_COMMAND CMD=SYNC

[gcode_macro LOG_Z]
gcode:
    {% set z_pos = printer.gcode_move.gcode_position.z %}
    RESPOND MSG="Current Z is {z_pos}"
    SAVE_VARIABLE VARIABLE=power_resume_z VALUE={z_pos}

[gcode_macro RESUME_INTERRUPTED]
gcode:
    set_zoffset
    RUN_SHELL_COMMAND CMD=UPDATE_GCODE_LINES
    {% if params.PROFILE_NAME is defined %}
        _QIDI_PLR_RESUME_AFTER_UPDATE PROFILE_NAME={params.PROFILE_NAME}
    {% else %}
        _QIDI_PLR_RESUME_AFTER_UPDATE
    {% endif %}

[gcode_macro _QIDI_PLR_RESUME_AFTER_UPDATE]
description: Validate Qidi PLR state and start the generated recovery file
gcode:
    {% set svv = printer.save_variables.variables %}
    {% set was_interrupted = svv.was_interrupted|default(False) %}
    {% set saved_profile = svv.profile_name|default("default")|string %}
    {% set requested_profile = params.PROFILE_NAME|default(saved_profile)|string %}
    {% set z_height = params.Z_HEIGHT|default(svv.power_resume_z|default(0))|float %}
    {% set last_file = params.GCODE_FILE|default(svv.last_file|default(""))|string %}
    {% set filepath = params.FILE_PATH|default(svv.filepath|default(""))|string %}
    {% set print_temp = params.PRINT_TEMP|default(svv.print_temp|default(0))|float %}
    {% set bed_temp = params.BED_TEMP|default(svv.bed_temp|default(0))|float %}
    {% set hot_temp = params.HOT_TEMP|default(svv.hot_temp|default(0))|float %}
    {% set mesh_profiles = printer["bed_mesh"].profiles %}
    {% if not was_interrupted %}
        { action_raise_error("RESUME_INTERRUPTED refused: no interrupted print is recorded") }
    {% endif %}
    {% if printer.virtual_sdcard.is_active %}
        { action_raise_error("RESUME_INTERRUPTED refused: virtual_sdcard is already active") }
    {% endif %}
    {% if last_file in ["", "None", "default"] or filepath in ["", "None", "default"] %}
        { action_raise_error("RESUME_INTERRUPTED refused: missing saved file path/name for PLR") }
    {% endif %}
    {% if z_height <= 0 %}
        { action_raise_error("RESUME_INTERRUPTED refused: missing saved Z height for PLR") }
    {% endif %}
    {% if requested_profile in mesh_profiles %}
        {% set profile_name = requested_profile %}
    {% elif "default" in mesh_profiles %}
        {% set profile_name = "default" %}
        M118 Missing bed mesh profile {requested_profile}; loading default for interrupted resume
        SAVE_VARIABLE VARIABLE=profile_name VALUE='"default"'
    {% else %}
        { action_raise_error("RESUME_INTERRUPTED could not find bed mesh profile " ~ requested_profile ~ " or default") }
    {% endif %}
    M118 Resuming interrupted print: {last_file}
    M118 PLR state: z={z_height} layer={svv.plr_current_layer|default(0)} pos={svv.plr_file_position|default(0)}
    BED_MESH_PROFILE LOAD={profile_name}
    RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_height} \"{last_file}\" {print_temp} {bed_temp} {hot_temp} \"{filepath}\""
    SDCARD_PRINT_FILE FILENAME=/.plr/plr.gcode


# [gcode_macro RESUME_INTERRUPTED]
# gcode:
#     set_zoffset
#     {% set profile_name = params.PROFILE_NAME|default(printer.save_variables.variables.profile_name)|string %}
#     {% set z_height = params.Z_HEIGHT|default(printer.save_variables.variables.power_resume_z)|float %}
#     {% set last_file = params.GCODE_FILE|default(printer.save_variables.variables.last_file)|string %}
#     {% set print_temp = params.PRINT_TEMP|default(printer.save_variables.variables.print_temp)|float %}
#     {% set bed_temp = params.BED_TEMP|default(printer.save_variables.variables.bed_temp)|float %}
#     {% set hot_temp = params.HOT_TEMP|default(printer.save_variables.variables.hot_temp)|float %}
#     {% set filepath = params.FILE_PATH|default(printer.save_variables.variables.file_path)|string %}
#     BED_MESH_PROFILE LOAD={profile_name}
#     RUN_SHELL_COMMAND CMD=POWER_LOSS_RESUME PARAMS="{z_height} {last_file} {print_temp} {bed_temp} {hot_temp} {filepath}"
#     SDCARD_PRINT_FILE FILENAME=/.plr/plr.gcode
